version: '3.8'

services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2017-latest
    environment:
      SA_PASSWORD: admin123!
      ACCEPT_EULA: Y
      MSSQL_PID: Express
    ports:
      - "1433:1433"