name: CI Pipeline

on:
  pull_request:
    branches:
      - master
  
  workflow_dispatch:
  push:
    branches:
      - development

jobs:
  CI:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4.1.1
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: 'zulu'

      - name: Install SonarCloud scanner
        if: steps.cache-sonar-scanner.outputs.cache-hit != 'true'
        shell: powershell
        run: |
          New-Item -Path .\.sonar\scanner -ItemType Directory
          dotnet tool update dotnet-sonarscanner --tool-path .\.sonar\scanner
          dotnet tool install --global coverlet.console

      - name: Build and analyze
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_SONAR_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        shell: powershell
        run: |
          .\.sonar\scanner\dotnet-sonarscanner begin /k:"FelipeFabricio_wonderfood-pedidos" /o:"felipefabricio" /d:sonar.login="${{ secrets.SONAR_TOKEN }}" /d:sonar.host.url="https://sonarcloud.io" /d:sonar.cs.opencover.reportsPaths=/*/.xml
          dotnet build --no-incremental
          coverlet .\test\WonderFood.WebApi.UnitTests\bin\Debug\net7.0\WonderFood.WebApi.UnitTests.dll --target "dotnet" --targetargs "test --no-build" -f=opencover -o="coverage.opencover.xml"
          coverlet .\test\WonderFood.Application.UnitTests\bin\Debug\net7.0\WonderFood.Application.UnitTests.dll --target "dotnet" --targetargs "test --no-build" -f=opencover -o="coverage.opencover.xml"
          .\.sonar\scanner\dotnet-sonarscanner end /d:sonar.token="${{ secrets.SONAR_TOKEN }}"
